:root {
    --color-primary: #0A3871;
    --color-text: #495057;
    --color-bg: #F3F5FC;
    --color-hover: #272727;

    --font-main: "Inter", sans-serif;
    --font-headers: 'Krona One', sans-serif;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
    
img {
    display: inline-block;
    width: 100%;
    max-width: fit-content;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

input, textarea, select {
    outline: none;
}

ul, ol, li {
    list-style: none;
}

button {
    cursor: pointer;
    display: inline-block;
}
/* RESET */


/* GLOBAL */
html {
    scroll-behavior: smooth;
    
    font-size: 62.5%; /* Pra usar rem divisivel por 10 */
}
  
body {
    height: 100vh;
    height: 100dvh;
    min-height: fit-content;

    background-color: var(--color-bg);

    font-size: 1.6rem; /* Pra garantir q o padrao seja 16px no navegador*/
    -webkit-font-smoothing: antialiased;
    color: var(--color-text);
}
body, input, textarea, button, select, a {
    font-family: var(--font-main);
}

[disabled] {
    opacity: 0.6;
    cursor: not-allowed !important;
}
/* GLOBAL */


/* LAYOUT APP */
main.app {
    padding: 40px 15px;
    height: 100%;
    min-height: 600px;

    .grid {
        width: 100%;
        max-width: 1160px;
        height: 100%;
        margin: auto;

        display: flex;
        gap: 20px;
        justify-content: space-between;
    }

    .app-input {
        width: 100%;
        max-width: 680px;
        padding: 32px 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;

        .input-texto {
            position: relative;
            height: 100%;

            &::after {
                content: '';
                height: 60px;
                width: 100%;
                background: rgb(243,245,252);
                background: linear-gradient(0deg, rgba(243,245,252,1) 0%, rgba(243,245,252,0.8519782913165266) 55%, rgba(243,245,252,0) 100%);

                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
        .input-texto textarea {
            width: 100%;
            height: 100%;
            background-color: transparent;
            padding-bottom: 50px;
            color: var(--color-primary);

            font-size: 32px;
            font-weight: 400;
            line-height: 150%;
        }
        ::placeholder { /* Most modern browsers support this now. */
            color: var(--color-primary);
        }

        .input-buttons {
            small {
                display: flex;
                gap: 8px;
                font-size: 12px;
                line-height: 150%;

                margin-bottom: 16px;
            }

            .group-btns {
                display: flex;
                gap: 10px;
                justify-content: space-between;

                button {
                    background-color: var(--color-primary);
                    width: 100%;
                    max-width: 328px;
                    padding: 24px 10px;
                    border-radius: 24px;

                    color: #fff;
                    font-size: 16px;
                    line-height: 120%;

                    transition: all .3s ease;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }
                #descripto {
                    background-color: var(--color-bg);
                    border: 1px solid var(--color-primary);

                    color: var(--color-primary);
                }
            }
        }
    }

    #app-resul {
        background-color: #fff;
        width: 100%;
        max-width: 400px;
        padding: 32px;
        border-radius: 32px;
        box-shadow: 0px 24px 32px -8px #00000014;

        .app-resul1 {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;

            .area-ilustra {
                margin-bottom: 32px;
            }
            .area-text {
                h3 {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 120%;

                    margin-bottom: 16px;
                }
                p {
                    font-size: 16px;
                    line-height: 150%;
                }
            }
        }

        .app-resul2 {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            justify-content: space-between;

            #resul-texto {
                position: relative;
                height: 100%;
                max-height: fit-content;
                overflow: hidden auto;
                padding-bottom: 20px;

                font-size: 24px;
                line-height: 150%;

                /* &::after {
                    content: '';
                    height: 40px;
                    width: 100%;
                    background: rgb(255,255,255);
                    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.8519782913165266) 55%, rgba(255,255,255,0) 100%);
    
                    position: absolute;
                    left: 0;
                    bottom: 0;
                } */
            }
            .area-btn button {
                background-color: #fff;
                width: 100%;
                border: 1px solid var(--color-primary);
                border-radius: 24px;
                padding: 24px 10px;
                
                color: var(--color-primary);
                font-size: 16px;
                line-height: 120%;

                transition: all .3s ease;

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }

        .hidden {
            display: none;
        }
    }


    
    
}
/* LAYOUT APP */


@media (prefers-color-scheme: dark) {
    body {
      background-color: #010101;
      color: #f0ece2;
    }
  
    h1 {
      color: #7579e7;
    }
  
    h3 {
      color: var(--color-bg);
    }
  
    /* img {
      filter: brightness(0.9);
    } */

    main.app {    
        .app-input {
            .input-texto::after {
                background: rgb(0,0,0);
                background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.8519782913165266) 55%, rgba(0,0,0, 0) 100%);
            }
            .input-texto textarea {
                color: #f0ece2;
            }

            ::placeholder { /* Most modern browsers support this now. */
                color: #f0ece2;
            }
        }

        #app-resul {
            background-color: var(--color-hover);
        }
    }
}